<div class="btn-group">
    <button type="button"
            class="btn btn-default btn-sm"
            data-toggle="modal"
            data-target="#{{ loop.index }}-renameModal">
        Optimize &amp; Rename
    </button>
</div>