<button type="button" class="btn btn-default btn-sm tinyPNG-optimize"
        data-imagePath="{{ key.imagePath }}"
        data-optiparam="none"
        data-toggle="modal"
        data-target="#working-modal"
        data-tinypngpath="{{ path("tinypng-optimize") }}">
    optimize image
</button>