<div class="btn-group">
    <button class="btn btn-danger btn-sm tinypng-delete"
            type="button"
            data-tinypngpath="{{ path("tinypng-delete-image") }}"
            data-imagePath="{{ key.imagePath }}"
            data-rowid="{{ loop.index }}">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Delete Image
    </button>
</div>