<!-- included in an include tag -->
<div class="modal fade" id="working-modal"
     tabindex="-1" role="dialog"
     aria-labelledby="workingModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="workingModal">Image Is Being Optimized :)</h4>
            </div>
            <div class="modal-body">
                <svg class="bolt-spinner" viewBox="0 0 100 100">
                    <use xlink:href="#bolt-spinner"/>
                </svg>
                <p class="imageToOptimize">

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>