<div class="panel panel-default panel-news">
    <div class="panel-heading">
        <p>TinyPNG and TinyJPG API</p>
    </div>

    <div class="panel-body">
        <p>
        You have made: {{ compressions }} compressions this month.
        </p>
        <p>
            The Free Plan offers 5000 a month.
        </p>
    </div>
</div>